.text-input {
    width: 100%;
    height: 50px;
    border: 1px solid #cacccd;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    text-overflow: ellipsis;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    overflow-x: hidden;
    height: 35rem;
}