.input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        padding-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

.input-group__item--grow {
    flex-grow: 1;
}

.input-group__item--center {
    display: flex;
    justify-content: center;
}

.input-group__item--end {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}