.list-header {
    display: flex;
    justify-content: space-between;
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size;
    border-top: 1px solid darken($off-white, 7%);

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }

    @media (min-width: $desktop-breakpoint) {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr minmax(15rem, 25rem) minmax(15rem, 25rem);
        justify-items: center;
        padding: $m-size;
    }
}

/* .list-item__error-message {
    
} */
.list-error-visible {
    color: white;
    opacity: 0;
    animation: 'list-error-visible' .6s ease forwards;
}
@keyframes list-error-visible {
    from {opacity: 0; color:white;}
    to {opacity: 1; color: $dark-grey;}
}

.list-item--message {
    justify-content: center;
    align-items: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle--container {
    width: 15rem;
}
.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    align-self: flex-end;
    margin: $s-size 0 0 0;

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}